*{
    font-family: Raleway, (https://fonts.google.com/specimen/Raleway);
}
body{
   background: hsl(229, 57%, 11%);
}
footer {
    min-height: 10vh;
}
.height{
    min-height: 90vh;
}
.content {
    background: hsl(228, 56%, 26%);
    max-width: 80%;
}
.icon-bg {
    background:hsl(229, 57%, 11%);
}
#filler {
    background: url(/images/bg-desktop.png) bottom no-repeat fixed;
}
.progress-bg {
    background:linear-gradient(hsl(6, 100%, 80%), hsl(335, 100%, 65%));
}
@media all and (max-width: 500px) {
    #filler {
        background: url(/images/bg-mobile.png) center/cover no-repeat fixed;
    }
}
.curve {
    border-radius: 10px 80px 10px 10px;
    /* flex-basis: 30%; */
}

.comment{
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -60px;
    right: 25px;
    background-color: white;
    border-radius: 15px;
    border-bottom-right-radius: 0px;
    height: 70px;
    width: 200px;
    padding: 10px;
    color: var(--Grayish-Blue);
    font-weight: 700;
}
.comment:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    right: 0px;
    top: 70px;
    border: 10px solid;
    border-color: white white transparent transparent;
}
a{
    color: darkgray;
}
a:hover {
    text-decoration: none;
    text-shadow: hsl(228, 56%, 26%);
}